@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap);

:root {
	--clr-primary: hsl(246, 80%, 60%);

	--clr-accent-work: hsl(15, 100%, 70%);
	--clr-accent-play: hsl(195, 74%, 62%);
	--clr-accent-study: hsl(348, 100%, 68%);
	--clr-accent-exercise: hsl(145, 58%, 55%);
	--clr-accent-social: hsl(264, 64%, 52%);
	--clr-accent-selfcare: hsl(43, 84%, 65%);

	--clr-neutral-900: hsl(226, 43%, 10%);
	--clr-neutral-700: hsl(235, 46%, 20%);
	--clr-neutral-500: hsl(235, 45%, 31%);
	--clr-neutral-400: hsl(235, 45%, 61%);
	--clr-neutral-200: hsl(236, 100%, 87%);
	--clr-neutral-100: white;

	--border-radius: 1rem;
	--content-padding: 1.5rem;
	--content-spacing: 1.5rem;
	--min-card-width: 15rem;
}

body {
	padding-top: 3rem;
	background-color: var(--clr-neutral-900);
	color: var(--clr-neutral-100);
	font-size: 18px;
	font-family: "Rubik", sans-serif;
	/* Weights: 300, 400 (Regular), 500 */
}

.wrapper {
	max-width: 67.5rem;
	margin: 0 auto;
	padding-inline: var(--content-padding);
}

.sidebar-wrapper {
	grid-row: 1 / 7;
}

.sidebar {
	height: 30.5625rem;
	background-color: var(--clr-neutral-700);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
}

.user-info {
	height: 100%;
	padding: var(--content-padding);
	background-color: var(--clr-primary);
	border-radius: inherit;
}

.user-pfp {
	width: 90px;
	border: 3px solid white;
	border-radius: 50%;
	margin-bottom: var(--content-spacing);
}

.user-name {
	line-height: 1.2;
	font-weight: 300;
}

.user-name .before {
	color: var(--clr-neutral-200);
	font-size: 14px;
	font-weight: 400;
}

.time-horizon {
	padding: var(--content-padding);
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.btn-period {
	width: fit-content;
	background-color: transparent;
	border: 0;
	color: inherit;
	text-align: left;
	cursor: pointer;
	color: var(--clr-neutral-400);
	transition: 100ms;
}

.btn-period:hover,
.btn-period.active {
	color: var(--clr-neutral-100);
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(min(var(--min-card-width), 100%), 1fr)
	);
	column-gap: var(--content-spacing);
}

.grid-container > * {
	margin-bottom: var(--content-spacing);
}

.card {
	--backdrop-offset: 45px;
	position: relative;
	background-color: var(--clr-neutral-700);
	border-radius: var(--border-radius);
	padding: var(--content-padding);
	margin-top: var(--backdrop-offset);
	transition: 100ms;
	cursor: pointer;
}

.card__header {
	margin-bottom: 1rem;
}

.card:hover {
	background-color: var(--clr-neutral-500);
}

.card::before {
	content: "";
	border-radius: inherit;
	position: absolute;
	inset: calc(-1 * var(--backdrop-offset)) 0 5px;
	z-index: -1;
	/* These properties are set in JS (fetched by CSS from inline styles */
	background: no-repeat var(--icon), var(--backdrop-color);
	background-position: top -10px right 1rem;
}

.card[data-category="exercise"]::before {
	background-position: top 0 right 1rem;
}

.card__header {
	height: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card__time {
	display: flex;
	flex-direction: column;
}

.card-title {
	font-size: 18px;
	font-weight: 400;
	text-transform: capitalize;
}

.btn-ellipsis {
	width: 25px;
	height: 100%;
	border: none;
	background: no-repeat url(../images/icon-ellipsis.svg);
	background-position: top 50% left 0;
	cursor: pointer;
}

.current {
	font-weight: 300;
	font-size: 3em;
	line-height: 1.2;
}

.previous {
	font-size: 15px;
	color: var(--clr-neutral-200);
}

.previous.daily::before {
	content: "Yesterday - ";
}

.previous.weekly::before {
	content: "Last week - ";
}

.previous.monthly::before {
	content: "Last month - ";
}

/* Footer styles */

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.attribution a:hover {
	color: var(--clr-primary);
}

@media (max-width: 551px) {
	.sidebar-wrapper {
		grid-row: auto;
	}

	.sidebar {
		height: auto;
	}

	.user-info {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.user-pfp {
		margin-bottom: 0;
	}

	.user-name {
		font-size: 24px;
	}

	.time-horizon {
		flex-direction: row;
		justify-content: space-evenly;
	}

	.card__header {
		margin-bottom: 0;
	}

	.card__time {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.current {
		font-size: 2em;
	}
}
